/* App.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background */
    color: #fff; /* Light text color */
  }
  
  /* Header */
  .header {
    background-color: #001f3f; /* Navy blue */
  }
  
  .header h1 {
    font-size: 36px;
    margin: 0;
    padding: 20px;
    color: #fff; /* White text color */
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-list li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Home */
  .home {
    padding: 20px;
  }
  
  .home h2 {
    font-size: 28px;
    color: #fff; /* White text color */
  }
  
  .home p {
    font-size: 18px;
    color: #ccc; /* Light gray text color */
  }
  
  /* About Us */
  .about {
    padding: 20px;
  }
  
  .about h2 {
    font-size: 28px;
    color: #fff; /* White text color */
  }
  
  .about ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 18px;
    color: #ccc; /* Light gray text color */
  }
  
  /* Contact Us */
  .contact {
    padding: 20px;
  }
  
  .contact h2 {
    font-size: 28px;
    color: #fff; /* White text color */
  }
  
  .contact p {
    font-size: 18px;
    color: #ccc; /* Light gray text color */
  }
  
  address {
    font-size: 18px;
    color: #ccc; /* Light gray text color */
  }
  
  address p {
    margin: 5px 0;
  }
  
  /* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.solar-system {
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  animation: rotate 10s linear infinite;
}

.sun {
  width: 80px;
  height: 80px;
  background-color: #ffcc00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.planet {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 5s linear infinite;
}

.mercury {
  left: 60%;
  animation-duration: 2s;
}

.venus {
  left: 70%;
  animation-duration: 3s;
}

.earth {
  left: 80%;
  animation-duration: 4s;
  background-color: #3498db;
}

.mars {
  left: 90%;
  animation-duration: 5s;
  background-color: #e74c3c;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
